.accordion {
  @apply w-full text-left relative border-none min-h-[2.8rem] bg-primary text-primary-content border-primary;
}

.accordion.has-divider {
  @apply border-b-[1px] border-solid border-accent;
}

.accordion:hover,
.accordion:focus {
  @apply bg-secondary text-accent;
}

.accordion:focus-visible {
  @apply outline-1 outline-dashed z-10 outline-accent outline-offset-1;
}

.accordion-panel {
  @apply overflow-hidden bg-background text-accent;
}

.accordion-panel > div {
  margin: 0.4rem 0.5rem;
}

.accordion .accordion-icon {
  @apply border-solid border-current border-l-2 border-r-2 h-2 pointer-events-none absolute top-[50%] w-2;
  transform: translateY(-60%) rotate(45deg);
  transition: transform 0.4s;
  right: 1em;
}
